{% extends "base.html" %}

{% block meta %}
{% if SITE_DESCRIPTION %}
    <meta name="description" content="{{ SITE_DESCRIPTION }}"/>
{% endif %}
{% endblock meta %}

{% block title %}{{ AUTHOR }}{% endblock title %}

{% block style %}
<link rel="stylesheet" type="text/css" href="theme/css/page.css">
{% endblock style %}

{% block content %}
<header>
    <h1>
        {{ AUTHOR }}
    </h1>
</header>
<article class="index">

    <h2>
        Pages
    </h2>
    <ul class="toc">
        {% for page in pages | sort(attribute='title') %}
        {% if page.folder == "pages" %}
        <li>
            <p>
                <a href="{{ page.slug }}.html">
                    {{ page.title }}
                </a>
            </p>
        </li>
        {% endif %}
        {% endfor %}
    </ul>

    <h2>
        Articles
    </h2>
    <ul class="toc">
        {% for page in pages | sort(attribute='date', reverse=True) %}
        {% if page.folder == "articles" %}
        <li>
            <p>
                <a href="{{ page.slug }}.html">
                    <code>{{ page.date.strftime('%b %Y') }}</code>
                    {{ page.title }}
                </a>
            </p>
        </li>
        {% endif %}
        {% endfor %}
    </ul>
    <h2>
        Other
    </h2>
    <ul class="toc">
        {% for page in pages | sort(attribute='title') %}
        {% if page.folder == "projects" %}
        <li>
            <p>
                <a href="{{ page.slug }}.html">
                 {{ page.title }}
                </a>
            </p>
        </li>
        {% endif %}
        {% endfor %}
    </ul>
</article>
{% endblock %}
