{% extends "base.html" %}

{% block title %}{{ page.title }}{% endblock title %}

{% block meta %}
{% if page.summary %}
    <meta name="description" content="{{ page.summary|striptags }}"/>
{% endif %}
{% endblock meta %}

{% block style %}
<link rel="stylesheet" type="text/css" href="theme/css/page.css">
{% endblock style %}

{% block content %}
<header>
    <h1 id="title-header">
        {% if page.title_header is defined %}
        {{ page.title_header }}
        {% else %}
        {{ page.title }}
        {% endif %}
    </h1>
</header>
<article>
    {{ page.content }}
</article>
{% endblock %}
