{% extends "base.html" %}

{% block title %}Links{% endblock title %}

{% block content %}
<header>
    <h1>
        Private Links
    </h1>
</header>

<article>

        <input id="slug" type="password" name="slug">
  Original Slug
        <br>
        <input id="host" type="password" name="host">
  Generating Hostname
        <br>
<button id="submit_button" type="button">Submit</button>

<!-- From https://cdnjs.com/libraries/crypto-js -->
<script src="theme/js/lib/cryptojs_md5.js"></script>
<script type="text/javascript">


  var submitBtn = document.getElementById('submit_button');
  var slugEl = document.getElementById('slug');
  var hostEl = document.getElementById('host');

  onReady(function(){
      document.getElementById('slug').focus();
  });
  
  function decrypt() {
      var slug = slugEl.value;
      var host = hostEl.value;

      function hexxor(a, b){
          var out = ''
          if (a.length > b.length) {
              for (var i = 0; i < b.length; i++) {
                  out += (parseInt(a[i], 16) ^ parseInt(b[i], 16)).toString(16)
              }
          } else {
              for (var i = 0; i < a.length; i++) {
                  out += (parseInt(a[i], 16) ^ parseInt(b[i], 16)).toString(16)
              }
          }
          return out;
      }
      
      cryptoslug = CryptoJS.MD5(
          CryptoJS.enc.Hex.parse(
              (
                  hexxor(
                      CryptoJS.MD5(CryptoJS.enc.Latin1.parse(slug)).toString(CryptoJS.enc.Hex),
                      CryptoJS.MD5(CryptoJS.enc.Latin1.parse(host)).toString(CryptoJS.enc.Hex)
                  )
              )
          )
      ).toString(CryptoJS.enc.Hex);

      window.location.href = cryptoslug;
  }

  hostEl.onkeypress = function(e) {
      if (!e) e = window.event;
      var keyCode = e.keyCode || e.which;
      if (keyCode == '13') {
          decrypt();
          return false;
      }
  }

  submitBtn.onclick = decrypt;
  
</script>
</div>
</article>
{% endblock %}
