/*
 * fonts, sizes, outlines, colors, etc.
 */

main {
    /* For PurpleHack, line-length is ~80ch*/
    max-width: 63ch;
    min-width: 30ch;
}

body {
    font-family: PurpleHack, serif;
    font-size: 22px;
}
pre {
    font-family: SourceCodePro, monospace;
    font-size: 62%;
}
code {
    font-size: 80%;
}
h1, h2, h3, h4,
.toc, nav ul {
    font-size: 80%;
    font-family: sans-serif;
}
.math {
    font-size: 80%;
}

/*******************************************************************/


/* header */
header > h1 {
    font-size: 280%;
}
header > p {
    font-size: 80%;
    text-align: right;
}

h1 {
    font-size: 120%;
}
h2 {
    font-size: 100%;
}

/* blockquote */
blockquote:before {
    font-size: 280%;
}

/* lists */
ul, ol, blockquote, .footnote, .wiki-extract {
    font-size: 95%;
}

/* past second level*/
li li ul, li li ol {
    font-size: 100%;
}

/* code */
pre, code {
    padding-left: 1ch;
    padding-right: 1ch;
}

td.linenos {
    width: 2ch;
}

/* Forms, Input */

input[type=checkbox] {
    transform: scale(1.5);
}

input[type=button], button {
    padding: 0.8ch 2ch;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: 1px solid;
}


/* Pygments */

.codehilite .kd, /* keyword declaration */
.codehilite .nt, /* tag name */
.codehilite .nd, /* decorator name */
.codehilite .nc, /* class name */
.codehilite .k,  /* keyword */
.codehilite .nf { /* function name */
    font-weight: bold;
}


/*
 * Desktop
 *
 */
@media (min-width: 190ch) {
    header > h1 {
        font-size: 450%;
    }

    h1 {
        font-size: 205%;
    }

    h2 {
        font-size: 160%;
    }
}
