/*
 * Static elements
 * (Layout and positioning)
 */

* {
    border-radius: 3px;
}

body {
    margin: 0px;
}

#top-spacer {
    height: 3em;
}

/* header */
header {
    width: 100%;
    text-align: center;
}

header > h1 {
    margin-top: 0px;
}

header > p {
    text-align: right;
}

/*
 *     ARTICLE
 */
article {
    line-height: 1.4em;
}

img, svg, .svg-container{
    display: block;
    max-width: 100%;
    margin: auto;
}

.caption {
    display: block;
    font-size: 90%;
    max-width: 90%;
    margin: auto;
}

.math {
    text-align: center;
}

/* headers
 */
h1 > a, h2 > a, h3 > a, h4 > a {
    position: absolute;
    left: 0.25ch;
}

/* blockquotes
 */
blockquote:before {
    content: open-quote;
    line-height: 0.1em;
    vertical-align: -0.6em;
}

blockquote {
    margin-right: 0px;
    margin-left: 0px;
    padding: 3px 1em 3px;
    border-left-style: solid;
    border-left-width: 5px;
    quotes: "“" "”";
}

/* block code
 */
pre {
    line-height: 1.4em;
    padding-top: 1em;
    padding-bottom: 1em;
    overflow-x: auto; /* for mobile */
    -webkit-overflow-scrolling: touch;
}

/* inline code
 */
code {
    padding: 0.2em 0.4em;
}

/* footnote
 */
.footnote {
    text-align: left;
}

/* lists
 */
ul, ol {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 2ch;
    padding-left: 2ch;
}
/* first level */
article > ul, article > ol,
div.toc > ul, div.toc > ol,
div.footnote > ul, div.footnote > ol {
    padding-top: 0.5em;
    padding-bottom: 1em;
    padding-right: 3ch;
    padding-left: 4ch;
}
li > p {
    margin-bottom: 0;
}
li:first-child {
    margin-top: 0;
}

/* tables
 */
th, td {
    text-align: left;
}

table {
    width: 100%;
}

/* math
 */

.math {
    overflow: auto;
    width: 100%;
}

/* main
 */
main {
    position: relative;
    padding-left: 2ch;
    padding-right: 2ch;
    margin: auto;

    /* Enables ligatures and antialiasing */
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;

    /* Intelligent word-breaking on line wrap */
    hyphens: auto;
}

/*
 * Desktop
 *
 * Place TOC on left
 */
@media (min-width: 190ch) {

    /*
    article {
        text-align: justify;
        text-justify: distribute;
    }*/

    div.toc {
        text-align: left;
        position: fixed;
        left: 0;
        top: 0;
        height: 100%;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
    }

    h1 > a, h2 > a, h3 > a, h4 > a {
        position: absolute;
        left: -0.5ch;
    }

}
