/* Generated Colors */

/*
 * https://github.com/nashamri/spacemacs-theme/blob/master/spacemacs-common.el
 * http://www.workwithcolor.com/color-converter-01.htm
 */

:root {

    /* white in default scheme (higher number is brighter) */
    --w2: #2b2b2b;
    --w1: #3a3a3a;
    --w0: #404040;

    /* greys (higher number is darker) */
    --g0:  #b8b8b8;
    --g1:  #c9c9c9;
    --g2:  #d2d2d2;
    --g2a: #d2d2d2ed; /* with alpha */
    --g3:  #d9d9d9;
    --g4:  #e5e5e5;

    /* subtle colors */
    --s1: #31415c;
    --s2: #3c6868;
    --s3: #366368;
    --s4: #b0acc3;

    /* headers and primary color sequence */
    --h1: #00619c;
    --h2: #007859;
    --h3: #325b09;
    --h4: #695700; 

    /* loud colors */
    --e1: #a83d65;
    --e2: #8a4a92;
    --e3: #543500;

    /* pygments */

    --hlerrc:  #f382aa;
    --hlerrbg: #fff3f8;
    --hlhll:    #abaa9e;
    --hlbg:     #d1d2ca;
    --hlcl:     #090902;

    --hlc:   #817d6a;     /* Comment */
    --hlk:   #00333b;     /* Keyword */
    --hll:   #623eb2;     /* Literal */
    --hln:   #090902;     /* Name */
    --hlo:   #b34460;     /* Operator */
    --hlp:   #090902;     /* Punctuation */
    --hlch:  #817d6a;    /* Comment.Hashbang */
    --hlcm:  #817d6a;    /* Comment.Multiline */
    --hlcp:  #817d6a;    /* Comment.Preproc */
    --hlcpf: #817d6a;    /* Comment.PreprocFile */
    --hlc1:  #817d6a;    /* Comment.Single */
    --hlcs:  #817d6a;    /* Comment.Special */
    --hlgd:  #b34460;    /* Generic.Deleted */
    --hlgi:  #242b15;    /* Generic.Inserted */
    --hlgu:  #817d6a;    /* Generic.Subheading */
    --hlkc:  #00333b;    /* Keyword.Constant */
    --hlkd:  #00333b;    /* Keyword.Declaration */
    --hlkn:  #b34460;    /* Keyword.Namespace */
    --hlkp:  #00333b;    /* Keyword.Pseudo */
    --hlkr:  #00333b;    /* Keyword.Reserved */
    --hlkt:  #00333b;    /* Keyword.Type */
    --hlld:  #26230a;    /* Literal.Date */
    --hlm:   #623eb2;}    /* Literal.Number */
    --hls:   #26230a;}    /* Literal.String */
    --hlna:  #242b15;    /* Name.Attribute */
    --hlnb:  #090902;    /* Name.Builtin */
    --hlnc:  #242b15;    /* Name.Class */
    --hlno:  #00333b;    /* Name.Constant */
    --hlnd:  #242b15;    /* Name.Decorator */
    --hlni:  #090902;    /* Name.Entity */
    --hlne:  #242b15;    /* Name.Exception */
    --hlnf:  #242b15;    /* Name.Function */
    --hlnl:  #090902;    /* Name.Label */
    --hlnn:  #090902;    /* Name.Namespace */
    --hlnx:  #242b15;    /* Name.Other */
    --hlpy:  #090902;    /* Name.Property */
    --hlnt:  #b34460;    /* Name.Tag */
    --hlnv:  #090902;    /* Name.Variable */
    --hlow:  #b34460;    /* Operator.Word */
    --hlw:   #090902;}    /* Text.Whitespace */
    --hlmb:  #623eb2;    /* Literal.Number.Bin */
    --hlmf:  #623eb2;    /* Literal.Number.Float */
    --hlmh:  #623eb2;    /* Literal.Number.Hex */
    --hlmi:  #623eb2;    /* Literal.Number.Integer */
    --hlmo:  #623eb2;    /* Literal.Number.Oct */
    --hlsa:  #26230a;    /* Literal.String.Affix */
    --hlsb:  #26230a;    /* Literal.String.Backtick */
    --hlsc:  #26230a;    /* Literal.String.Char */
    --hldl:  #26230a;    /* Literal.String.Delimiter */
    --hlsd:  #26230a;    /* Literal.String.Doc */
    --hls2:  #26230a;    /* Literal.String.Double */
    --hlse:  #623eb2;    /* Literal.String.Escape */
    --hlsh:  #26230a;    /* Literal.String.Heredoc */
    --hlsi:  #26230a;    /* Literal.String.Interpol */
    --hlsx:  #26230a;    /* Literal.String.Other */
    --hlsr:  #26230a;    /* Literal.String.Regex */
    --hls1:  #26230a;    /* Literal.String.Single */
    --hlss:  #26230a;    /* Literal.String.Symbol */
    --hlbp:  #090902;    /* Name.Builtin.Pseudo */
    --hlfm:  #242b15;    /* Name.Function.Magic */
    --hlvc:  #090902;    /* Name.Variable.Class */
    --hlvg:  #090902;    /* Name.Variable.Global */
    --hlvi:  #090902;    /* Name.Variable.Instance */
    --hlvm:  #090902;    /* Name.Variable.Magic */
    --hlil:  #623eb2;    /* Literal.Number.Integer.Long */


}