// https://github.com/nashamri/spacemacs-theme/blob/master/spacemacs-common.el
// http://www.workwithcolor.com/color-converter-01.htm


// we use sass for (among other things) the `rgba` function.

// DEFAULT
$color-blockquote:  #a2b2d2; // blockquote
$color-strong:      #df5e8c; // strong
$color-link:        #409b9b; // links
$color-pre:         #b2b2b2; // pre
$color-code:        #bababa; // code

$color-h1:          #4f97d7; // h1
$color-h2:          #2d9574; // h2
$color-h3:          #67b11d; // h3
$color-h4:          #b1951d; // h4

// DARK
$color-emph:        #cccccc; // emph
$color-text:        #b2b2b2; // standard text
$bg-main:           #222222; // primary background
$bg-alt:            #272727; // lists, blockquotes, buttons
$bg-alt-alpha:      rgba(#272727, .93); // .active-ref
$bg-code:           #2e2e2e; // code
$bg-pre:            #191919; // pre
$blockquote-bar:    #3b3b3b; // blockquote bar


////////////////////////////////////////////////////////////////////////////////

/// for SVG

.sc0 {
    stroke: $color-text;
}
.sc1 {
    stroke: $color-h1;
}
.sc2 {
    stroke: $color-h2;
}
.sc3 {
    stroke: $color-h3;
}
.sc4 {
    stroke: $color-h4;
}
.sc5 {
    stroke: $color-emph;
}
.sbg0 {
    stroke: $bg-main;
}
.sbg1 {
    stroke: $bg-alt;
}

.fc0 {
    fill: $color-text;
}
.fc1 {
    fill: $color-h1;
}
.fc2 {
    fill: $color-h2;
}
.fc3 {
    fill: $color-h3;
}
.fc4 {
    fill: $color-h4;
}
.fc5 {
    fill: $color-emph;
}
.fbg0 {
    fill: $bg-main;
}
.fbg1 {
    fill: $bg-alt;
}

////////////////////////////////////////////////////////////////////////////////

body {
    background: $bg-main;
    color: $color-text;
}

strong {
    color: $color-strong;
}

strong > em {
    color: $color-emph;
}

a {
    color: $color-link;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

#hamburger > :nth-child(1),
#hamburger > :nth-child(2),
#hamburger > :nth-child(3) {
    background: $color-text;
}

h1 {
    color: $color-h1;
}

h2 {
    color: $color-h2;
}

h3 {
    color: $color-h3;
}

h4 {
    color: $color-h4;
}

blockquote {
    color: $color-blockquote;
    background: $bg-alt;
    border-left-color: $blockquote-bar;
}

pre {
    background: $bg-pre;
    color: $color-pre;
}

code {
    background: $bg-code;
    color: $color-code;
}

ul, ol, nav, div.toc {
    background: $bg-alt;
}

li.active-ref {
    border: 1px solid $color-text;
    background: $bg-alt-alpha;
}

th, tr:nth-child(even) {background-color: $bg-alt;}

////////////////////////////////////////////////////////////////////////////////
// pygments

.highlight .err {
    color: #960050;
    background-color: #1e0010;
} /* Error */
.highlight .hll { background-color: #49483e; }
.highlight      { background: #272822; color: #f8f8f2;}
.highlight .c   { color: #75715e;}  /* Comment */
.highlight .k   { color: #66d9ef;}  /* Keyword */
.highlight .l   { color: #ae81ff;}  /* Literal */
.highlight .n   { color: #f8f8f2;}  /* Name */
.highlight .o   { color: #f92672;}  /* Operator */
.highlight .p   { color: #f8f8f2;}  /* Punctuation */
.highlight .ch  { color: #75715e;} /* Comment.Hashbang */
.highlight .cm  { color: #75715e;} /* Comment.Multiline */
.highlight .cp  { color: #75715e;} /* Comment.Preproc */
.highlight .cpf { color: #75715e;} /* Comment.PreprocFile */
.highlight .c1  { color: #75715e;} /* Comment.Single */
.highlight .cs  { color: #75715e;} /* Comment.Special */
.highlight .gd  { color: #f92672;} /* Generic.Deleted */
.highlight .gi  { color: #a6e22e;} /* Generic.Inserted */
.highlight .gu  { color: #75715e;} /* Generic.Subheading */
.highlight .kc  { color: #66d9ef;} /* Keyword.Constant */
.highlight .kd  { color: #66d9ef;} /* Keyword.Declaration */
.highlight .kn  { color: #f92672;} /* Keyword.Namespace */
.highlight .kp  { color: #66d9ef;} /* Keyword.Pseudo */
.highlight .kr  { color: #66d9ef;} /* Keyword.Reserved */
.highlight .kt  { color: #66d9ef;} /* Keyword.Type */
.highlight .ld  { color: #e6db74;} /* Literal.Date */
.highlight .m   { color: #ae81ff;}  /* Literal.Number */
.highlight .s   { color: #e6db74;}  /* Literal.String */
.highlight .na  { color: #a6e22e;} /* Name.Attribute */
.highlight .nb  { color: #f8f8f2;} /* Name.Builtin */
.highlight .nc  { color: #a6e22e;} /* Name.Class */
.highlight .no  { color: #66d9ef;} /* Name.Constant */
.highlight .nd  { color: #a6e22e;} /* Name.Decorator */
.highlight .ni  { color: #f8f8f2;} /* Name.Entity */
.highlight .ne  { color: #a6e22e;} /* Name.Exception */
.highlight .nf  { color: #a6e22e;} /* Name.Function */
.highlight .nl  { color: #f8f8f2;} /* Name.Label */
.highlight .nn  { color: #f8f8f2;} /* Name.Namespace */
.highlight .nx  { color: #a6e22e;} /* Name.Other */
.highlight .py  { color: #f8f8f2;} /* Name.Property */
.highlight .nt  { color: #f92672;} /* Name.Tag */
.highlight .nv  { color: #f8f8f2;} /* Name.Variable */
.highlight .ow  { color: #f92672;} /* Operator.Word */
.highlight .w   { color: #f8f8f2;}  /* Text.Whitespace */
.highlight .mb  { color: #ae81ff;} /* Literal.Number.Bin */
.highlight .mf  { color: #ae81ff;} /* Literal.Number.Float */
.highlight .mh  { color: #ae81ff;} /* Literal.Number.Hex */
.highlight .mi  { color: #ae81ff;} /* Literal.Number.Integer */
.highlight .mo  { color: #ae81ff;} /* Literal.Number.Oct */
.highlight .sa  { color: #e6db74;} /* Literal.String.Affix */
.highlight .sb  { color: #e6db74;} /* Literal.String.Backtick */
.highlight .sc  { color: #e6db74;} /* Literal.String.Char */
.highlight .dl  { color: #e6db74;} /* Literal.String.Delimiter */
.highlight .sd  { color: #e6db74;} /* Literal.String.Doc */
.highlight .s2  { color: #e6db74;} /* Literal.String.Double */
.highlight .se  { color: #ae81ff;} /* Literal.String.Escape */
.highlight .sh  { color: #e6db74;} /* Literal.String.Heredoc */
.highlight .si  { color: #e6db74;} /* Literal.String.Interpol */
.highlight .sx  { color: #e6db74;} /* Literal.String.Other */
.highlight .sr  { color: #e6db74;} /* Literal.String.Regex */
.highlight .s1  { color: #e6db74;} /* Literal.String.Single */
.highlight .ss  { color: #e6db74;} /* Literal.String.Symbol */
.highlight .bp  { color: #f8f8f2;} /* Name.Builtin.Pseudo */
.highlight .fm  { color: #a6e22e;} /* Name.Function.Magic */
.highlight .vc  { color: #f8f8f2;} /* Name.Variable.Class */
.highlight .vg  { color: #f8f8f2;} /* Name.Variable.Global */
.highlight .vi  { color: #f8f8f2;} /* Name.Variable.Instance */
.highlight .vm  { color: #f8f8f2;} /* Name.Variable.Magic */
.highlight .il  { color: #ae81ff;} /* Literal.Number.Integer.Long */